<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Nodejs</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/upload" class="active">Upload file</a>
    </div>

    <div style="padding: 15px">
      <form
        action="/upload-profile-pic"
        enctype="multipart/form-data"
        method="post"
      >
        <div style="display: flex">
          <label>Select single file:</label>
          <input type="file" name="profile_pic" />
        </div>
        <div>
          <button style="margin-top: 15px; cursor: pointer" type="submit">
            Save file
          </button>
        </div>
      </form>

      <form
        action="/upload-profile-images"
        enctype="multipart/form-data"
        method="post"
      >
        <div style="display: flex">
          <label>Select multiple files:</label>
          <input type="file" name="multiple_images" multiple />
        </div>
        <div>
          <button style="margin-top: 15px; cursor: pointer" type="submit">
            Save files
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
